header	{
	padding-top: 20px;
	padding-bottom: 20px;
	

}
.container{
	width: 1180px;
	margin-left: auto;
	margin-right: auto; 
	

}
.logo-parent{
	display: inline-block;
	vertical-align: middle;

}
.header-nav{
	display: inline-block;
	vertical-align: middle;
	margin-left: 100px;
}
.nav-list{
	display: inline-block;
	vertical-align: middle;
	padding-left: 15px;
	padding-right: 15px;
}
sht: 15px;: 100px;
	height: 55px;
}